.filters-btn, .subscribe-form-btn, .hero-btn, .modal-form__btn {
  font-family: inherit;
  border-radius: 4px;
  border: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn.active, .filters-btn:hover, .filters-btn:focus, .subscribe-form-btn--design:hover, .subscribe-form-btn--design:focus, .hero-btn:hover, .hero-btn:focus, .modal-form__btn:hover, .modal-form__btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  cursor: pointer;
}

.subscribe-form-btn, .hero-btn, .modal-form__btn {
  height: 50px;
  padding: 10px 25px;
}

.subscribe-form-btn--design, .hero-btn, .modal-form__btn {
  background-color: #2196f3;
  color: #FFFFFF;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-hot-contacts__text-tel.current, .mobile-menu-list__link.current {
  color: #2196f3;
}

.visualy-hidden {
  visibility: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #FFFFFF;
}

.mobile-menu.is-open body {
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section {
  width: 100%;
  max-width: 1600px;
  background-repeat: no-repeat;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  padding: 0 15px;
  margin: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.66;
    margin-bottom: 50px;
  }
}

.icon-color {
  fill: currentColor;
}

.master-btn__text {
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  font-size: 16px;
}

.mobile-menu-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: hidden;
  color: black;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 10px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  color: #2196f3;
  cursor: pointer;
}

.mobile-menu-btn.is-open {
  z-index: 1;
  position: fixed;
}

.mobile-menu-btn .close-menu {
  display: none;
}

.mobile-menu-btn.is-open .open-menu {
  display: none;
}

.mobile-menu-btn.is-open .close-menu {
  display: block;
}

.mobile-menu-btn.is-open .mobile-menu {
  display: block;
}

.mobile-menu {
  display: none;
  visibility: hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: relative;
}
.mobile-menu--design {
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .mobile-menu.is-open {
    display: block;
    visibility: visible;
    pointer-events: all;
  }
}

.mobile-menu.is-open {
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.mobile-menu-list__item:not(:first-child) {
  margin-top: 35px;
}

.mobile-menu-list__link {
  width: 100%;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 40px;
  line-height: 1.18;
}
.mobile-menu-list__link:hover, .mobile-menu-list__link:focus {
  color: #2196f3;
}

.mobile-hot-contacts {
  row-gap: 302px;
}

.mobile-hot-contacts__link {
  display: block;
  margin-top: 32px;
}

.mobile-hot-contacts__text-tel {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 27px;
  line-height: 1.18;
}
@media screen and (min-width: 480px) {
  .mobile-hot-contacts__text-tel {
    font-size: 34px;
  }
}

.mobile-hot-contacts__text-mail {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 1.17;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mobile-socials__item:not(:first-child) {
  padding-left: 8px;
}
@media screen and (min-width: 425px) {
  .mobile-socials__item:not(:first-child) {
    padding-left: 9px;
  }
}

.mobile-socials__item:not(:last-child) {
  padding-right: 9px;
}
@media screen and (min-width: 425px) {
  .mobile-socials__item:not(:last-child) {
    padding-right: 10px;
  }
}

.mobile-socials__item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials__link {
  width: 100%;
  font-size: 11px;
  line-height: 1.22;
}
.mobile-socials__link--style {
  color: #2196f3;
}
@media screen and (min-width: 375px) {
  .mobile-socials__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) {
  .mobile-socials__link {
    font-size: 18px;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
  position: fixed;
  top: 0;
  overflow-y: scroll;
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 0;
  }
}

.modal {
  width: calc(100% - 30px);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .modal {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
    transition: -webkit-transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
    transition: transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
    transition: transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99), -webkit-transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 480px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
    transition: -webkit-transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
    transition: transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
    transition: transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99), -webkit-transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
    position: relative;
    top: 50%;
    left: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 100%;
    max-width: 528px;
    max-height: 581px;
  }
}

@media screen and (max-width: 767px) {
  .backdrop.is-hidden .modal {
    -webkit-transform: translateY(-25%) scale(0.41, 0.09);
            transform: translateY(-25%) scale(0.41, 0.09);
  }
}
@media screen and (min-width: 768px) {
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.41, 0.09);
            transform: translate(-50%, -50%) scale(0.41, 0.09);
  }
}

.backdrop.is-hidden .modal-close {
  visibility: hidden;
}

.modal-close {
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: inherit;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: visibility 100ms linear 150ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 100ms linear 150ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal-close:hover, .modal-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  color: #2196f3;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.5;
  }
}

.modal-form {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.modal-form__wrap {
  width: 100%;
  color: #212121;
}
.modal-form__wrap--position {
  margin-bottom: 10px;
  position: relative;
}

.modal-form__label {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__inputs {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.3);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  margin-top: 2px;
}
.modal-form__inputs:focus {
  border: 1px solid #2196f3;
}

.modal-form__inputs-svg {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 65.5%;
  left: 12px;
}

.modal-form__inputs:focus + .modal-form__inputs-svg {
  fill: #2196f3;
}

.modal-form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  display: block;
}
.modal-form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__policies-wrap {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.modal-form__i-agree {
  width: 100%;
  padding-left: 7px;
  line-height: 1.71;
  color: #757575;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .modal-form__i-agree {
    font-size: 12px;
  }
}

.modal-form__policies-link {
  color: #2196f3;
}

.modal-form__check-wrap {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 0;
}

.modal-form__policies:checked + .modal-form__check-wrap {
  background-color: #2196f3;
  fill: #FFFFFF;
  border-color: transparent;
}

.modal-form__btn {
  width: 200px;
  margin-top: 30px;
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188CE8;
}

.header {
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
  position: relative;
}

.header-container {
  padding: 0 15px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    width: auto;
    max-width: 1200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.logo__accent {
  color: #2196f3;
}
.logo--first-color {
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.header-container__logo {
  padding: 14px 0;
}
@media screen and (min-width: 768px) {
  .header-container__logo {
    padding: 26px 0;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container__logo {
    padding: 25px 0;
    margin-right: 92px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-pages__link--color {
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-pages__link--color:hover, .menu-pages__link--color:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hot-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .hot-contacts {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}

.hot-contacts__link {
  display: none;
}
@media screen and (min-width: 768px) {
  .hot-contacts__link {
    display: block;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 1.16;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .hot-contacts__link {
    font-size: inherit;
    line-height: 1.14;
    padding: 32px 0;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

@media screen and (min-width: 768px) {
  .hot-icon__tab {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .hot-icon__tab {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hot-icon__desktop {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hot-icon__desktop {
    display: block;
  }
}

.hot-contacts__link--color {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hot-contacts__link--color:hover, .hot-contacts__link--color:focus {
  color: #2196f3;
  fill: #2196f3;
}

.menu-pages {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}

@media screen and (min-width: 768px) {
  .menu-pages__link {
    display: block;
    padding: 30px 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.menu-pages__link::after {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-pages__link::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    position: relative;
    top: 31px;
  }
}

@media screen and (min-width: 768px) {
  .menu-pages__link:hover::after,
.menu-pages__link:focus::after {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
}

.menu-pages__link.current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-pages__link.current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    position: relative;
    top: 31px;
  }
}

.hero {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/teamwork-day-1600-@1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/teamwork-day-1600-@1x.jpg);
  background-size: cover;
  background-position: center;
  background-color: #2F303A;
  margin: auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/teamwork-day-1600-@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/teamwork-day-1600-@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    padding: 118px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/teamwork-day-1600-@1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/teamwork-day-1600-@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/teamwork-day-1600-@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/teamwork-day-1600-@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/teamwork-day-1600-@1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/teamwork-day-1600-@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/teamwork-day-1600-@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/teamwork-day-1600-@2x.jpg);
  }
}

.hero-title {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.62;
  color: #FFFFFF;
  margin: auto auto 30px;
}
@media screen and (min-width: 390px) {
  .hero-title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    line-height: 1.36;
    font-size: 44px;
  }
}

.hero-btn {
  min-width: 200px;
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188CE8;
}

.features-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

.container__features-list {
  margin: auto;
}

@media screen and (max-width: 767px) {
  .features-list__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: 270px;
  }
}

.features-list__deck {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.features-list__title {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: inherit;
  line-height: 1.14;
}
@media screen and (max-width: 767px) {
  .features-list__title {
    text-align: center;
  }
}

.features-list__text {
  line-height: 1.71;
  color: #757575;
  margin-top: 10px;
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list__item {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .work-list__text {
    width: 100%;
    height: 70px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    top: 224px;
  }
}

.team--bground {
  background-color: #F5F4FA;
}

@media screen and (max-width: 479px) {
  .team-list:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    max-width: 738px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    width: 100%;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

@media screen and (max-width: 479px) {
  .team-list__cards {
    width: auto;
  }
  .team-list__cards:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-list__cards {
    width: 450px;
    margin: 0 auto;
  }
  .team-list__cards:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__cards {
    width: 354px;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__cards {
    width: 270px;
  }
}
.team-list__cards--style {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-about {
  text-align: center;
  padding: 30px 0 24px;
}
@media screen and (min-width: 1200px) {
  .member-about {
    padding: 30px 32px;
  }
}

.member-about__names {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.member-about__text {
  width: 100%;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  text-align: center;
  margin-top: 10px;
}

.member-about__socials {
  margin-top: 16px;
}

.socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__link--team-design {
  background-color: inherit;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--team-design:hover, .socials__link--team-design:focus {
  background-color: #2196f3;
  color: #FFFFFF;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .clients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 738px;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

.clients__item {
  width: calc((100% - 60px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.footer {
  padding: 60px 0;
}
.footer--bground {
  background-color: #2F303A;
}

.footer-container {
  padding: 0 15px;
  margin: auto;
}
@media screen and (min-width: 893px) and (max-width: 1199px) {
  .footer-container {
    width: 892px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    width: auto;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .find-us {
    text-align: center;
  }
}

.logo--second-color {
  color: #FFFFFF;
}

.find-us__adress {
  margin-top: 20px;
}

.adress__list {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9px;
}
@media screen and (min-width: 1200px) {
  .adress__list {
    text-align: left;
  }
}

.adress__map {
  font-style: normal;
  color: #FFFFFF;
  line-height: 1.71;
}

.adress__link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

.footer-title {
  text-transform: uppercase;
  line-height: 1.14;
}
@media screen and (max-width: 1199px) {
  .footer-title {
    text-align: center;
  }
}
.footer-title--color {
  color: #FFFFFF;
}

.container__footer-title {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .socials-container {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .socials-container {
    text-align: center;
  }
}

.socials__link--footer-design {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--footer-design:hover, .socials__link--footer-design:focus {
  background-color: #2196f3;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .footer-form-container {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    width: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }
}

.subscribe-form__input {
  padding: 15px 16px;
  line-height: 1.25;
}
@media screen and (max-width: 480px) {
  .subscribe-form__input {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}
.subscribe-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.subscribe-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.subscribe-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.subscribe-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.subscribe-form__input--design {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: #FFFFFF;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.subscribe-form__input--design:focus {
  border: 1px solid #2196f3;
}

.subscribe-form-btn {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

@media screen and (max-width: 1199px) {
  .subscribe-form-btn--design {
    margin: 20px auto 0;
  }
}
.subscribe-form-btn--design:hover, .subscribe-form-btn--design:focus {
  background-color: #188CE8;
}

.portfolio {
  background-color: #FFFFFF;
}

.portfolio-mobile-menu {
  z-index: 1;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .filters-list {
    max-width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .filters-list {
    width: 575px;
  }
}

.filters-btn {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #F5F4FA;
}
.filters-btn:hover, .filters-btn:focus {
  color: #FFFFFF;
}

.filters-btn.active {
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .project-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.project {
  background-color: #FFFFFF;
}
@media screen and (max-width: 383px) {
  .project {
    width: auto;
  }
  .project:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 384px) and (max-width: 767px) {
  .project {
    width: 354px;
    margin: 0 auto 0;
  }
  .project:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .project {
    width: 354px;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .project {
    width: 370px;
  }
}

.project-link {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #EEEEEE;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover, .project-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.project-about {
  padding: 20px 24px;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */