.footer {
      padding: 60px 0;

      &--bground {
            background-color: $dark-theme;
      }
}

.footer-container {
      padding: 0 15px;
      margin: auto;

      @media screen and (min-width: 893px) and (max-width: 1199px) {
            width: 892px;
      }

      @media screen and (min-width: $screen-tab) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
      }

      @media screen and (min-width: $screen-desktop) {
            width: auto;
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
      }
}

.find-us {
      @media screen and (max-width: 1199px) {
            text-align: center;
      }
}

.logo--second-color {
      color: $color-white;
}

.find-us__adress {
      margin-top: 20px;
}

.adress__list {
      font-style: normal;
      row-gap: 8px;

      @media screen and (min-width: $screen-tab) {
            flex-direction: column;
      }

      @media screen and (min-width: $screen-desktop) {
            text-align: left;
      }
}

.adress__map {
      font-style: normal;
      color: $color-white;
      line-height: 1.71;
}

.adress__link {
      font-style: normal;
      line-height: 1.71;
      color: rgba(255, 255, 255, 0.6);
      transition: color $duration $time-style;

      &:hover,
      &:focus {
            color: $zeema-blue;
      }
}

.footer-title {
      text-transform: uppercase;
      line-height: 1.14;

      @media screen and (max-width: 1199px) {
            text-align: center;
      }

      &--color {
            color: $color-white;
      }
}

.container__footer-title {
      margin-bottom: 20px;
}

.socials-container {
      @media screen and (max-width: 767px) {
            margin-top: 60px;
      }

      @media screen and (max-width: 1199px) {
            text-align: center;
      }
}

.socials__link--footer-design {
      color: $color-white;
      background-color: rgba(256, 256, 256, 0.1);
      transition: background-color $duration $time-style;

      &:hover,
      &:focus {
            background-color: $zeema-blue;
            color: $color-white;
      }
}

.footer-form-container {
      @media screen and (max-width: 1199px) {
            margin-top: 60px;
      }
}

.subscribe-form {
      @media screen and (max-width: 1199px) {
            text-align: center;
      }

      @media screen and (min-width: $screen-desktop) {
            width: 570px;
            display: flex;
            justify-content: space-between;
            column-gap: 12px;
      }
}

.subscribe-form__input {
      padding: 15px 16px;
      line-height: 1.25;

      @media screen and (max-width: $screen-mobile) {
            width: 100%;
      }

      @media screen and (min-width: 481px) and (max-width: 1199px) {
            width: 450px;
      }

      @media screen and (min-width: $screen-desktop) {
            width: 358px;
      }

      &::placeholder {
            color: rgba(255, 255, 255, 0.6);
            font-size: $medium-text;
      }
}

.subscribe-form__input--design {
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      background-color: transparent;
      color: $color-white;
      transition: border $duration $time-style;
      outline: transparent;

      &:focus {
            border: 1px solid $zeema-blue;
      }
}

.subscribe-form-btn {
      @extend %btn;
      @extend %master-btn;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
}

.subscribe-form-btn--design {
      @extend %master-btn--design;

      @media screen and (max-width: 1199px) {
            margin: 20px auto 0;
      }

      &:hover,
      &:focus {
            @extend %btn--event;
            background-color: #188CE8;
      }
}