$color-white: #FFFFFF;
$zeema-blue: #2196f3;
$color-onix: #212121;
$color-gray: #757575;
$dark-theme: #2F303A;

$medium-text: 16px;
$gaps-small: 30px;
$gaps-medium: 50px;

$time-style: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;

$screen-mobile: 480px;
$screen-tab: 768px;
$screen-desktop: 1200px;